<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ApoTakeCare - Categories</title>
	<link rel="stylesheet" href="/general.css">
	<link rel="stylesheet" href="/pico.jade.min.css">
</head>
<body>
<main class="container">
	<!-- Header : -->	
	<div th:replace="~{frag :: header}"></div>
	
	<h1>Some definitions :</h1>	
	
	<div class="table-wrapper"><table>		
		<thead>
	        <tr>
	            <th>ID</th>
	            <th>Title</th>
	            <th>Definition</th>
	        </tr>
    	</thead>
    	<tbody>
	    	<tr th:each="category : ${categories}">
				<td th:text="${category.id}">XXX</td>
				<td th:text="${category.title}">(TITLE)</td>
				<td th:text="${category.definition}">(DEFINITION)</td>
			</tr>
    	</tbody>		
	</table></div>
	
	<!-- FOOTER -->
	<div th:replace="~{frag :: footer}"></div>
</main>
</body>
</html>