<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en" data-theme="dark">
  <body>
  	
  	<!-- HEADER FRAGMENT A INSERER -->
  	<div th:fragment="header" class="header">
	  	<nav>
		  <ul>
		    <li><a href="/">
            	<img src="img/logo.png" class="home-icon" style="width: 80px; height: 80px;">
        	</a></li>
		  </ul>
		  <ul>
		    <li><strong>- ApoTakeCare -</strong></li>
		  </ul>
		  <ul>
		    <li><a href="/products">Products</a></li>
		    <li><a href="/stocks">Stocks</a></li>
		    <li><a href="/effectsAndPreparations">Effects & Preparations</a></li>
		    <li><a href="/categories">Categories & Definitions</a></li>
		    <li><a href="/places">Locations</a></li>
		  </ul>
		</nav>
	</div>

	  
	  
	<!-- FOOTER FRAGMENT A INSERER -->
	<div th:fragment="footer">
		<footer class="footer">
			  <br>
       		  <p> All rights reserved &copy; 2024 - ApoTakeCare </p>
    	</footer>
	</div>
    
  </body>
</html>