<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <body>
  	
  	<!-- HEADER FRAGMENT A INSERER -->
  	<div th:fragment="header" class="header">
	  	<nav>
		  <ul>
		    <li><a href="/">Home</a></li>
		  </ul>
		  <ul>
		    <li><strong>- ApoTakeCare -</strong></li>
		  </ul>
		  <ul>
		    <li><a href="/products">Products</a></li>
		    <li><a href="/stocks">Stocks</a></li>
		    <li><a href="/effectsAndPreparations">Effects & Preparations</a></li>
		    <li><a href="/categories">Categories & Definitions</a></li>
		    <li><a href="/places">Locations</a></li>
		  </ul>
		</nav>
	</div>

	  
	  
	<!-- FOOTER FRAGMENT A INSERER -->
	<div th:fragment="footer">
		<hr>
		<footer class="footer">
       		  <p> All rights reserved &copy; 2024 - ApoTakeCare </p>
    	</footer>
	</div>
    
  </body>
</html>