<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>ApoTakeCare</title>
	<link rel="stylesheet" href="/pico.jade.min.css">
	<link rel="stylesheet" href="/general.css">
</head>
<body>
<main class="container">

	<!-- HEADER -->	
	<div th:replace="~{frag :: header}"></div>

	<h1>Welcome to ApoTakeCare !</h1>
	<h4>Where all your troubles are taken care of thanks to our marvelous products !</h4>
	
	<section id="form">
		<!-- Search -->
        <input type="search" id="search" name="search" placeholder="Search for a product..." />
        <!-- Suggestions -->
   		<div id="suggestionsBox"></div>
	</section>
	
	
	
	
	<!-- FOOTER -->
	<div th:replace="~{frag :: footer}"></div>
	
</main>
<script src="/barreDeRecherche.js"></script>
</body>
</html>