<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en" data-theme="dark">
<head>
	<meta charset="UTF-8">
	<title>ApoTakeCare - Places</title>
	<link rel="stylesheet" href="/general.css">
	<link rel="stylesheet" href="/pico.jade.min.css">
</head>
<body>
<main class="container">
	<!-- Header : -->	
	<div th:replace="~{frag :: header}"></div>

	<h2>All the Places</h2>
	<div class="table-wrapper">
    	<table>
        	<thead>
            	<tr>
                	<th>ID</th>
                	<th>Place Name</th>
                	<th>Longitude</th>
                	<th>Latitude</th>
                	<th>Actions</th>
            	</tr>
        	</thead>
        	<tbody>
            	<tr th:each="place : ${places}">
                <td th:text="${place.id}">1</td>
                <td th:text="${place.name}">Place Name</td>
                <td th:text="${place.longitude}">0</td>
                <td th:text="${place.latitude}">0</td>
                <td>
                    <a th:href="@{/places/edit/{id}(id=${place.id})}" class="btn btn-warning">Edit</a>
                    <form th:action="@{/places/delete}" method="post" style="display:inline;">
                        <input type="hidden" name="id" th:value="${place.id}" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            	</tr>
        	</tbody>
    	</table>
	</div>
	<h2>Add or Modify a Place</h2>
	<form th:action="@{/places/save}" method="post">
    	<input type="hidden" name="id" th:value="${placeToEdit != null ? placeToEdit.id : ''}" />
    	<label for="placeName">Place Name:</label>
    	<input type="text" id="placeName" name="name" th:value="${placeToEdit != null ? placeToEdit.name : ''}" required />

    	<label for="latitude">Latitude:</label>
    	<input type="number" id="latitude" name="latitude" th:value="${placeToEdit != null ? placeToEdit.latitude : ''}" required />

    	<label for="longitude">Longitude:</label>
    	<input type="number" id="longitude" name="longitude" th:value="${placeToEdit != null ? placeToEdit.longitude : ''}" required />

    	<button type="submit" class="secondary">Save Place</button>
	</form>
	
</main>

<!-- FOOTER -->
	<div th:replace="~{frag :: footer}"></div>
	
<script src="/addProductToPlace.js"></script>
	
</body>
	
</html>
