<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ApoTakeCare - Places</title>
	<link rel="stylesheet" href="/general.css">
	<link rel="stylesheet" href="/pico.jade.min.css">
</head>
<body>
<main class="container">
	<!-- Header : -->	
	<div th:replace="~{frag :: header}"></div>

	<h1>All the places :</h1>	
	
	<div class="table-wrapper"><table>		
		<thead>
	       	 <tr>
	            <th>ID</th>
	            <th>Place Name</th>
	            <th>Longitude</th>
	            <th>Latitude</th>
	            <th>Products</th>
	        </tr>
    	</thead>
    	<tbody>
	    	<tr th:each="place : ${places}">
			<td th:text="${place.id}">XXX</td>
			<td th:text="${place.name}">(NAME)</td>
			<td th:text="${place.longitude}">(DESCRIPT)</td>
			<td th:text="${place.latitude}">(DESCRIPT)</td>
			<td>
				<ul>
					<li th:each="product : ${place.dispoProduct}" th:text="${product.name}">Product Name</li>
				</ul>
			</td>
			<td>
			<form class="product-form" th:attr="data-place-id=${place.id}">
                		<select id="productSelect" name="productId" required>
                    		<option value="" disabled selected>Select a product</option>
                    		<option th:each="product : ${products}" th:value="${product.id}" th:text="${product.name}">
                        		Product Name
                    		</option>
                		</select>
                		<button type="button" class="btn btn-primary add-product-button">Add Product</button>
                		<button type="button" class="btn btn-warning remove-product-button">Remove Product</button>
            		</form>
    			</td>

			</tr>
    	</tbody>		
	</table></div>
	
</main>

<!-- FOOTER -->
	<div th:replace="~{frag :: footer}"></div>
	
<script src="/addProductToPlace.js"></script>
	
</body>
	
</html>
