<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ApoTakeCare - Products Page</title>
	<link rel="stylesheet" href="/pico.jade.min.css">
</head>
<body>
<main class="container">

	<h1>All our marvellous product :</h1>
	
	<!--
	<ul>
		<li th:each="product : ${products}">
			<span th:text="${product.name}">(NAME) | </span> 
			
			<span th:text="${product.otherNames}">(OTHER_NAMES) | </span> 
			<span th:text="${product.description}">(DESCRIPT)</span>
			 
		</li> 
	</ul>
	 -->
	
	
	<table>
		<thead>
			
		</thead>
		
		<tr th:each="product : ${products}">
			<td th:text="${product.id}">XXX</td>
			<td th:text="${product.name}">(NAME)</td>
			<td>
				<ul>
					<li th:each="item : ${product.otherNames}" th:text="${item}">(OTHER NAMES)</li>
				</ul>
			</td>
			<td th:text="${product.description}">(DESCRIPT)</td>
		</tr>
	</table>
	
</main>
</body>
</html>