<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ApoTakeCare - See Shelf</title>
	<link rel="stylesheet" href="/pico.jade.min.css">	
</head>
<body>
<main class="container">

	<h1>See our shelf and stock :</h1>
	<h3>(Insert cool shelf to see the stock and their location instead of a shitty HTML table)</h3>

	<table>	
		<thead>
	        <tr>
	            <th>Shelf Number</th>
	            <th>ID</th>
	            <th>Stored Product Name</th>
	            <th>Stored Product ID</th>
	            <th>Quantity left</th>
	            <th>Price Per Unit</th>
	        </tr>
    	</thead>
    	<tbody>
    		<tr th:each="stock : ${stocks}">
				<td th:text="${stock.shelfNumber}">XXXX</td>
				<td th:text="${stock.id}">XX</td>
				<td th:text="${stock.stockedProduct != null ? stock.stockedProduct.name : ''}">(ProductName)</td>
				<td th:text="${stock.stockedProduct != null ? stock.stockedProduct.id : ''}">(ProductID)</td>
				<td th:text="${stock.dosage != null ? stock.dosage.quantity + ' ' + stock.dosage.unit : ''}">(QUANTITY)</td>
				<td th:text="${stock.pricePerUnit}">(PRICE_PER_UNIT)</td>
			</tr>
    	</tbody>	
		
	</table>

</main>	 
</body>
</html>