<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en" data-theme="dark">
<head>
	<meta charset="UTF-8">
	<title>ApoTakeCare - See Shelf</title>
	<link rel="stylesheet" href="/general.css">
	<link rel="stylesheet" href="/pico.jade.min.css">	
</head>
<body>
<main class="container">
	<!-- Header : -->	
	<div th:replace="~{frag :: header}"></div>

	<h1>See our shelf and stock :</h1>

	<div class="table-wrapper"><table>	
		<thead>
	        <tr>
	            <th>Shelf Number</th>
	            <th>ID</th>
	            <th>Stored Product Name</th>
	            <th>Stored Product ID</th>
	            <th>Quantity left</th>
	            <th>Price Per Unit</th>
	        </tr>
    	</thead>
    	<tbody>
    	<tr th:each="stock : ${stocks}" th:classappend="${stock.dosage.quantity < 5} ? 'low-stock'">
        	<td th:text="${stock.shelfNumber}">XXXX</td>
        	<td th:text="${stock.id}">XX</td>
        	<td th:text="${stock.stockedProduct != null ? stock.stockedProduct.name : ''}">(ProductName)</td>
        	<td th:text="${stock.stockedProduct != null ? stock.stockedProduct.id : ''}">(ProductID)</td>
        	<td>
            	<span th:text="${stock.dosage != null ? stock.dosage.quantity + ' ' + stock.dosage.unit : ''}">(QUANTITY)</span>
            	<!-- Stock low alert -->
            	<span th:if="${stock.dosage.quantity < 5}" style="color: red; font-weight: bold;"> - Low Stock!</span>
        	</td>
        	<td th:text="${stock.pricePerUnit}">(PRICE_PER_UNIT)</td>
        	<td>
            <form th:action="@{/stocks/add}" method="post">
                <input type="hidden" name="id" th:value="${stock.id}" />
                <button type="submit" class="secondary">Add</button>
            </form>
            <form th:action="@{/stocks/remove}" method="post">
                <input type="hidden" name="id" th:value="${stock.id}" />
                <button type="submit" class="contrast">Remove</button>
            </form>
        	</td>
    	</tr>
		</tbody>
		
	</table></div>
	
</main> 

<!-- FOOTER -->
	<div th:replace="~{frag :: footer}"></div>
	
</body>
</html>